.header {
    padding: 60px;
    text-alight: center;
    background-color: black;
    color: aquamarine;
    text-size-adjust: p=30;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
    text-align: center;
}
li {
    display: inline;
    float: left;
}
li a {
    display: block;
    padding: 14px 16pxpx;
    color:aquamarine;
    text-align: center;
    text-decoration: none;
}

li a: hover {
    bacground-color: #111;
}

body {
    background-color: aquamarine;
    text-align: center;
    text-size-adjust: 30;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
}
p {
    margin-top: 50;
    margin-bottom: 50;
    margin-left: 50;
    margin-right: 50;
}